* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden { display: none;}

.main-heading { 
    color: whitesmoke; cursor: pointer;
    text-shadow: 3px 3px 0 black;
    margin: 1em;
}

.site {
    background-image: url(../images/background.jpg);
}

#svg-grid {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-gap: 20px;
}

.container {
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;

}

/* descendant selector > every img with a a class of container */
.container img {
    max-width: fit-content;
}

h2 {
    font-family: Lexend;
    font-size: 4em;
}

h3 {
    font-family: Lexend;
    font-size: 2em;
    width: fit-content;
}

/* interactive SVG rules */

.icon:hover {
    filter: drop-shadow(.5em 1em 1em rgb(0 0 0 / 0.8));
    cursor: pointer;
}

.perk-sections:hover {
    background-color: rgb(97, 47, 47);
}


/* Perk properties */

.header-text {
    display: grid;
    grid-template-columns: repeat(4, 1.5fr);
    grid-row: 1;
    padding: 1em 3em .5em 3em;
}

.header-text2 {
    display: grid;
    color: whitesmoke;
    text-shadow: 3px 3px 0 black;
}

.perk {
    padding: .5em;
    border-width: 1em;
}

.perk-title {
    font-family: Lexend;
    font-size: 2em;
    color: whitesmoke;
}

.perk-subtitle {
    font-family: Lexend;
    font-size: 1.5em;
    color: whitesmoke;
}

.perk-desc {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    color: whitesmoke;
}

.perk-sections {
    background-color: rgb(59, 59, 59);
    padding: 2em;
    border-radius: 2em;
    margin: 0em 2em;
    transition-duration: 500ms;
}